html{
  height: 100%;
  margin: 0;
}

body {
    color: #D5D4D8;
    background-image: url("./images/background-dark.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    font-family: "Karla", sans-serif;
}

body.lightmode {
color: #6B7280;
background-image: url("./images/background.jpg");
}

#title {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin: 0px;
}

#subtitle {
    margin: 10px 0px;
}

.seperator {
    height: 1px;
    width: 446px;
    background-color: #2F3E53;
    margin: 35px 0px;
}

.seperator.lightmode {
    color: #D5D4D8;
}


button {
    margin-top: 51px;
    padding: 9px 18px;
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#green-text {
    color: #4ADF86;
}

#white-text {
    color: white;
}

#white-text.lightmode {
    color: #2B283A;
}

#content {
    background-color: #1F2937;
    padding: 115px 52px;
    height: 320px;
    width: 446px;
    margin-top: 200px;
}

#content.lightmode {
    background-color: #EEE;
}

#password-section {
    display: flex;
    justify-content: space-between;
}
.password-box {
    text-align: center;
    font-size: 80%;
    line-height: 32px;
    width: 180px;
    height: 32px;
    padding: 4px 16px;
    font-weight: bold;
    background-color: #273549;
    border-radius: 6px;
    margin: 0px;
    color: #55F991;
    cursor: pointer;
    user-select: none;
}

.password-box.clicked {
    box-shadow: 0px 0px 15px #10B981 !important;
}

.password-box:hover {
    box-shadow: 0px 0px 5px #10B981;
}


#extras {
    display: flex;
    font-size: 12px;

}
.slider {
    margin: 5px 0px;
    -webkit-appearance: none;
    appearance: none;
    width: 212px;
    height: 5px;
    background: #273549;
    outline: none;
    opacity: 0.7;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider.lightmode {
    background: #D5D4D8;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: none;
    background: #10B981;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50%;
    background: #10B981;
    cursor: pointer;
}

#switches {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 8px 25px;
}

.switch-container {
    display: flex;
    line-height: 0px;
}

.checkbox:checked {
    accent-color: #10B981;
}
